// Bootstrap Icon
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css');

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import 'bootstrap/scss/functions';

// 2. Include any default variable overrides here
$primary: #91a6b4;
$secondary: #5f5b5c;
$success: #61ac6e;
$info: #334e74;
$warning: #de9c36;
$danger: #f44336;
$light: #f2f4f6;
$dark: #334e74;
$light-acc: #a69181;
$dark-acc: #7d716d;

$font-family-sans-serif: Roboto, system-ui, -apple-system, 'Segoe UI',
  'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$link-color: $light;

// 3. Include remainder of required Bootstrap stylesheets
@import 'bootstrap/scss/variables';

// 4. Include any default map overrides here
$custom-colors: (
  'light-acc': $light-acc,
  'dark-acc': $dark-acc,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

$card-cap-bg: $secondary;

// 5. Include remainder of required parts
@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';

// 6. Optionally include any other parts as needed
@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/reboot';
@import 'bootstrap/scss/type';
// @import "bootstrap/scss/navbar";
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';
@import 'bootstrap/scss/helpers';
// @import "bootstrap/scss/buttons";
@import 'bootstrap/scss/badge';
@import 'bootstrap/scss/card';

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import 'bootstrap/scss/utilities/api';

// 8. Add additional custom code here
.badge {
  @extend .badge, .text-bg-light, .bg-light;

  transition-duration: 0.5s;
}

.badge:hover {
  transform: scale(1.07);
  z-index: 4;
}

.card-footer {
  span {
    margin: 0.5%;
  }

  z-index: 3;
}

.card {
  @extend .card;

  transition-duration: 0.75s;
}

.card:hover {
  transform: scale(1.03);
}

header {
  a {
    color: $primary;
  }

  a:hover {
    color: $light-acc;
  }
}

#__next {
  @extend .d-flex, .flex-column, .w-100;
}
